ion-refresher(pulling-text="Pull to refresh...", on-refresh="microChats.refresh()")

//div.live(ng-show="timeline.isLive")
//    div.row.section
//        div.col
//            span.text Live
//
//    match-label(sections="matchLabel.sections")

div.timeline
    div.nodata(ng-if="microChats.items.length == 0")
        div.space
        div.row
            div.col.col-center.text-center
                div.text Has no timeline.
    div(ng-repeat="item in microChats.items")
        div(ng-class="item.template == 'hightlight' ? '-hightlight' : ''")
            div.space
            div.row.datetime
                div.col
                    | {{item.publishedDate | date :'dd/MM/yyyy | HH:mm'}}
            div.cover(ng-if="item.image")
                div.images
                    img(image-cache="{{item.image}}", width="100%", height="auto")
            div.detail(ng-class="item.template == 'hightlight' ? '-hightlight' : ''")
                div.col.subdetail
                    div.row.message
                        div.col
                            span {{item.message}}
                    div.row.footer
                        div.col.col-90.col-center
                            div.userbox
                                img.photo(image-cache="{{item.user.profilePicture}}")
                                span.name {{item.user.displayname}}
                        div.col.col-10.col-center(style="margin-left: -4px;")
                            //a.button.button-icon.icon.ion-android-share-alt.share(ng-click="share(item.message, '', '', '')")

ion-infinite-scroll(ng-if="microChats.next" on-infinite="microChats.loadNext()", distance="1%")
