ion-refresher(pulling-text="Pull to refresh...", on-refresh="doRefresh()")

div.row.live.section(ng-show="timeline.isLive")
    div.col
        span.text Live
        div.timeline

div.timeline
    div.nodata(ng-if="timeline.items.length == 0")
        div.space
        div.row
            div.col.col-center.text-center
                div.text Has no timeline.
    div(ng-repeat="item in timeline.items")
        div(ng-class="item.template == 'hightlight' ? '-hightlight' : ''")
                div.space
                div.row.datetime
                    div.col
                        | {{item.datetime | date :"dd/MM/yyyy | HH:mm"}}
                div.cover
                    div.images(ng-show="item.images.length")
                        img(ng-src="{{item.images[0]}}", width="100%", height="100%")
                div.detail(ng-class="item.template == 'hightlight' ? '-hightlight' : ''")
                    div.subdetail
                        div.row.description
                            div.col
                                span {{item.description}}
                        div.row.footer
                            div.col.col-90.col-center
                                div.userbox
                                    img.photo(ng-src="{{item.user.photo}}")
                                    span.name {{item.user.name}}
                            div.col.col-10.col-center(style="margin-left: -4px;")
                                a.button.button-icon.icon.ion-android-share-alt.share(ng-click="share()")

ion-infinite-scroll(ng-if="timeline.next" on-infinite="loadMore()", distance="5%")
