.member-main {
    background-color: #0658a2;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;

    .content {
        display: flex;

        .subcontent {
            align-self: flex-end;
            width: 100%;
            padding: 20px;

            .logo {
                width: 250px;
                height: 100px;
            }

            .sublogo {
                width: 152px;
                height: 79px;
            }

            .space {
                height: 10px;
            }

            .button {
                width: 100% !important;
                height: 40px;
            }

            .bold {
                font-weight: bold;
            }

            .facebook {
                margin-top: -46px;
                width: 46px;
                height: 46px;
                background-image: url("../img/member/icon/facebook.png");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

@media screen and (-webkit-device-pixel-ratio: 2) {
    .member-main {
        background-image: url("../img/bg@2x.png");

        .content {
            .footer {
                .facebook {
                    background-image: url("../img/member/icon/facebook@2x.png");
                }
            }
        }
    }
}

.member-form {
    background-color: #0088cf;

    .form {
        widht: 100%;
        padding: 0 20px;

        .input-text {
            padding: 10px 0;
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
        }

        input {
            width: 100%;
            height: 42px;
            padding: 4px;
            background-color: #ffffff;
            font-size: 16px;
            color: #006ca5;
            border: solid 1px #0088cf;
            border-radius: 4px;
            text-align: center;
            transition: 0.5s linear all;
        }

        ::-webkit-input-placeholder {
            color: #f0f0f0;
        }

        .picture {
            width: 100px;
            height: 100px;
            background-color: #f0f0f0;
        }

        .row.control-add, .row.control-remove {
            padding: 4px 30px;
        }

        .control-add .button, .control-remove .button {
            width: 100% !important;
            height: 40px;
        }

        .control-add .button.icon:before, .control-remove .button.icon:before {
            font-size: 32px;
        }

        .birthday {
            width: 100%;
            padding: 0;

            label {
                font-size: 12px;
                color: #ffffff;
            }
        }
    }

    .submit {
        width: 100%;

        .row {
            padding: 20px;
        }

        .button {
            width: 100%;
        }
    }

    .register {
        color: #ffffff;
        text-decoration: underline;
    }
}

.member-picture {
    background-color: #0088cf;
}

.platform-ios .member-picture .card.warningMessage {
    display: none;
}
