.ranking-detail {
    .content {
        background-color: #0056a2;

        .circle {
            width: 100px;
            height: 100px;
            padding: 2px;
            background-color: #ffffff;
            border-radius: 50px;

            .subcircle {
                width: 96px;
                height: 96px;
                background-color: #f0f0f0;
                border-radius: 48px;
            }

            .image {
                width: 96px;
                height: 96px;
                border-radius: 48px;
            }
        }

        .halfcircle {
            width: 40px;
            height: 40px;
            margin-left: -22px;
            background-color: #213647;
            border-radius: 20px;
        }

        .inrow {
            padding: 0;
        }

        .inrow-side {
            padding-right: 0px;
            padding-left: 0px;
        }

        .club {
            width: 100px;
            height: 100px;
        }

        .name {
            padding: 12px 0;
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
        }

        .title {
            font-size: 16px;
            color: #ffffff;
        }

        .detail {
            margin-bottom: 12px;
            font-size: 14px;
            color: #ffffff;
        }

        .no {
            font-size: 14px;
            color: #f2a83b;
        }

        .number {
            padding: 0 4px;
            font-size: 20px;
            font-weight: bold;
            color: #caf906;
        }

        .topic {
            margin-bottom: 5px;
            .headline {
                padding: 0;
                background-color: #0088cf;
            }

            .subtopic {
                color: #ffffff;
                background-color: #213647;
            }

            .head {
                color: #213647;
                background-color: #eeeded;
            }

            .point {
                font-size: 18px;
                font-weight: bold;
                color: #213647;
                //background-color: #ffffff;
            }
                .-sum {
                    color: #f2a83b;
                }

                .-big {
                    font-size: 20px;
                }

                .-blue {
                    font-size: 30px;
                    color: #4188c7;
                }
            
                .-yellow {
                    font-size: 30px;
                    color: #f2a83b;
                }

            .text {
                color: #213647;
                background-color: #ffffff;
            }

            .line {
                width: 100%;
                height: 5px;
                background-color: #549af7;
            }
        }
    }
}
