.platform-android {
    .feature-ads {
        .ads {
            height: 100%;
        }
    }
}

.feature-ads {
    background-color: transparent;

    .ads {
        padding: 8px;
        height: 100vh;

        .subads {
            height: 100%;
            min-height: 100%;
            max-height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #f0f0f0;
            border-radius: 4px;
        }
    }

    .close {
        position: fixed;
        top: 30px;
        right: 0px;
        width: 60px;
        height: 60px;
        z-index: 1001;

        .bg {
            position: relative;
            top: 4px;
            left: 4px;
            width: 57px;

            height: 37px;
            background-image: url("../img/ads/close/bg.png");
            background-size: 57px 37px;
            background-repeat: no-repeat;
        }

        .circle {
            position: relative;
            top: -30px;
            left: 8px;
            width: 30px;
            height: 30px;
            background-image: url("../img/ads/close/circle.png");
            background-size: 30px 30px;
            background-repeat: no-repeat;
        }
    }
}

@media screen and (-webkit-device-pixel-ratio: 2) {
    .feature-ads {
        .close {
            .bg {
                background-image: url("../img/ads/close/bg@2x.png");
            }

            .circle {
                background-image: url("../img/ads/close/circle@2x.png");
            }
        }
    }
}
