@charset "UTF-8";

.table {
    font-size: 14px;

    .header {
        font-weight: bold;
    }

    .normal {
        background-color: #f1f2f2;
        color: #203367;
    }

    .highlight {
        background-color: #ffffff;
        color: #0088cf;
    }
}

//STYLE FOR IPHONE 4
@media only screen  and (max-device-width : 320px) and (max-device-height : 480px) {
    .table {
        font-size: 11px;
    }
}
