.platform-ios {
    .ticket-membership {
        .content {
            margin-top: -66px !important;
        }

        .fix-tab {
            top: 112px !important;
            height: auto !important;
        }
    }
}

.platform-android {
    .title.title-left.header-item {
        left: 0 !important;
    }

    .ticket-membership {
        .content {
            margin-top: -44px !important;
        }

        .fix-tab {
            top: 90px !important;
            height: auto !important;
        }
    }
}

.ticket-membership {
    .section {
        background-color: #213647;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
    }

    .nodata {
        span {
            padding: 18px 0px 18px 0px;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .userbox {
        .photo {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            background-color: #f0f0f0;
        }

        .name {
            margin-left: 4px;
            color: #231f20;
        }
    }

    .ticket {
        @import "ticket/main";
    }

    .membership {
        @import "membership/main";
    }
}
