ion-view.product-detail
    ion-nav-title {{title}}
    ion-nav-buttons(side="left")
        a.button.button-nav.button-icon.ion-ios-arrow-left(ng-if="isIOS", ng-click="back()")
            img.logo(
            src="./img/logo/navbar.png"
            srcset="./img/logo/navbar@2x.png 2x"
            )

    ion-content
        ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="product.refresh()")

        div.sub(ng-if="product.loaded")
            div.info
                div.image(image-cache="{{product.item.image}}")
                div.row.name
                    div.col
                        | {{product.item.name}}
                div.row.model
                    div.col
                        | {{product.item.model}}
                div.row.description
                    div.col
                        | {{product.item.description}}
                div.row.price
                    div.col
                        | {{'product.price' | trans}} {{product.item.price | number}}
                div.row.moreDescription
                    div.col
                        | {{product.item.moreDescription}}

        loading-overlay(id="product-detail")
