ion-view.live-main
    ion-nav-title
        a.button.button-clear(ng-click='back()')(style="margin-top:5px;")
            i.icon.ion-ios-keypad-outline
    ion-nav-buttons(side='right')
        a.button.button-clear(ng-click='')
            i.icon.ion-android-more-vertical

    ion-content.content
        ion-refresher(pulling-text='Pull to refresh...', on-refresh='doRefresh()')

        div.row.title
            div.col.text-center
                | {{title}}

        div.match-label
            div.row.section
                div.col.col-center.text-center
                    | {{matchLabel.item.datetime | date : 'MMM yyyy'}}

            div.row.content
                div.col.col-15.col-center.logo.text-center
                    img.image(ng-src="{{matchLabel.item.homeClub.logo}}")

                div.col.col-25.col-center.name.text-center
                    | {{matchLabel.item.homeClub.name}}

                div.col.col-20.col-center.detail.text-center
                    div.score
                        | {{matchLabel.item.homeClub.score}}-{{matchLabel.item.awayClub.score}}
                    div.datetime
                        | {{matchLabel.item.datetime | date:'dd MMM yyyy'}}

                div.col.col-25.col-center.name.text-center
                    | {{matchLabel.item.awayClub.name}}

                div.col.col-15.col-center.logo.text-center
                    img.image(ng-src="{{matchLabel.item.awayClub.logo}}")

        div.video
            iframe(ng-src="https://www.youtube.com/embed/3iL1Vy671Ds", width="100%", height="230")

        div.activity
            div.nodata(ng-if="activities.items.length == 0")
                div.row
                    div.col.col-center.text-center
                        div.text Has no activity.
            div(ng-repeat="activity in activities.items")
                div.row.rowactivity
                    div.col.col-center(style="background-color:red;") 1
                    div.col.col-10.col-center(style="background-color:yellow;") 2
                    div.col.col-center(style="background-color:green;") 3

        //div.detail(ng-repeat="player in players")
        //    div.row.border.-top
        //        div.col.border.text-right
        //        div.col.border.col-10
        //            div.circle-start
        //                div.circle
        //            div.line
        //        div.col.border.text-left
        //
        //    div.row.border
        //        div.col.border.text-right
        //        div.col.border.col-10
        //            div.line.-line25
        //        div.col.border.text-left.text-yellow
        //            span {{player.start}}
        //
        //    div.row.border
        //        div.col.border.text-right(style="padding-top:12px;")
        //            span.playerName {{player.name1}}
        //            img(ng-src="./img/live/yellowCard.png", style="padding-left:5px;", width="20px")
        //            span.text-yellow {{player.time1}}
        //        div.col.border.col-10
        //            div.line.-line20
        //            div.circle-activity
        //        div.col.border.text-left
        //
        //    div.row.border
        //        div.col.border.text-right
        //        div.col.border.col-10
        //            div.line.-line50
        //            div.circle-activity
        //        div.col.border.text-left(style="padding-top:42px;")
        //            span.text-yellow {{player.time2}}
        //            img(src="./img/live/yellowCard.png", style="padding-left:5px;" , width="20px")
        //            span.playerName {{player.name2}}
        //
        //    div.row.border
        //        div.col.border.text-right(style="padding-top:2px;")
        //            span.playerName {{player.name3}}
        //            img(ng-src="./img/live/goal.png", style="padding-left:5px;", width="20px")
        //            span.text-yellow  {{player.time3}}
        //        div.col.border.col-10
        //            div.line.-line10
        //            div.circle-activity
        //        div.col.border.text-left
        //
        //    div.row.border
        //        div.col.border.text-right
        //        div.col.border.col-10
        //            div.line.-line25
        //            div.circle-activity.-halftime
        //        div.col.border.text-left(style="padding-top:17px;")
        //            span.text-yellow {{player.ht}}
        //
        //    div.row.border.-bottom
        //        div.col.border.text-right
        //        div.col.border.col-10
        //            div.line.-line20
        //            div.circle-activity
        //        div.col.border.text-left(style="padding-top:12px;")
        //            span.text-yellow {{player.time4}}
        //            img(ng-src="./img/live/goal.png", style="padding-left:5px;", width="20px")
        //            span.playerName {{player.name4}}
