ion-view.competitionandtable-main
    ion-nav-title
        a.button.button-clear(ng-click='back()', style='margin-top: 5px;')
            i.icon.ion-ios-keypad-outline

    ion-nav-buttons(side='right')
        a.button.button-clear(ng-click='')
            i.icon.ion-android-more-vertical

    ion-tabs.tabs-top
        ion-tab(title="Fixtures")
            ion-content.fix-tab
                ng-include(src="'./templates/competition-and-table/tab-fixtures.html'")
        ion-tab(title="Result")
            ion-content.fix-tab
        ion-tab(title="Position Table")
            ion-content.fix-tab

    //ion-content.content(scroll="false")
        div(ng-repeat="matchLabel in matchLabel")
            div.match-label
                div.row.section
                    div.col.col-center.text-center
                        | {{matchLabel.datetime | date : 'MMM yyyy'}}
                div.row.content
                    div.col.col-15.col-center.logo.text-center
                        img.image(ng-src="./img/live/chonburi.png")
                    div.col.col-25.col-center.name.text-center
                        | {{matchLabel.homeClub.name}}
                    div.col.col-20.col-center.detail.text-center
                        div.score
                            | {{matchLabel.isEndMatch == 1 ? matchLabel.homeClub.score +
                            | '-' + matchLabel.awayClub.score :
                            | matchLabel.datetime | date:'hh:mm'}}
                        div.datetime
                            | {{matchLabel.datetime | date:'dd MMM yyyy'}}
                    div.col.col-25.col-center.name.text-center
                        | {{matchLabel.awayClub.name}}
                    div.col.col-15.col-center.logo.text-center
                        img.image(ng-src="./img/live/suphanburi.png")
