ion-view.competition-and-table-main
    ion-nav-title
        a.button.button-clear(ng-click='back()')
            div.navbar.icon-menu
    ion-nav-buttons(side='right')
        a.button.button-clear(ng-click='')
            div.navbar.icon-setting

    ion-content
        ion-list
            ion-item(ng-repeat="item in matches")
                //span id: {{ item.id }}, text:{{ item.text }}

                // item
                div.row.row-center.match-fixtures

                    // homeClub
                    div.col
                        div.row.home-club
                            div.col-30.logo
                            div.col.name HomeClub

                    // VS
                    div.col-20.start-time
                        div.row-center
                            p 19:00
                        div.row-center
                            p 1 July 2015

                    // AwayClub
                    div.col
                        div.row.away-club
                            p.col.name AwayClub
                            div.col-30.logo

                //dev.item.logo
