ion-view.competition-and-table-main
    ion-nav-title
        a.button.button-clear(ng-click='back()')
            div.navbar.icon-menu
    ion-nav-buttons(side='right')
        a.button.button-clear(ng-click='')
            div.navbar.icon-setting

    ion-content
        ion-list
            ion-item(ng-repeat="item in matches")
                //span id: {{ item.id }}, text:{{ item.text }}
                div.row.row-center
                    div.col.bg
                        div.row
                            div.col
                                div.item.logo
                            dev.col
                                p HomeClub

                    div.col.bg2 '==VS=='

                    div.col.bg3
                        div.row
                            div.col
                                div.item.logo
                            div.col
                                p AwayClub

                //dev.item.logo
