.platform-android {
    .title.title-left.header-item {
        left: 0 !important;
    }
}

.personal-detail {
    .content {
        .cover {
            width: 100%;
            height: 340px;
            min-height: 340px;
            background-color: #f0f0f0;
            .image {
                width: 100%;
                height: 340px;
                min-height: 340px;
            }
        }

        .personal {
            background-color: #0056a5;

            .firstname, .lastname {
                font-size: 16px;
                color: #ffffff;
            }

            .no {
                color: #c9da2b;
                padding-top: 15px;
                font-size: 42px;
                font-weight: bold;
            }
        }

        .event {
            background-color: #203747;
            .yellow {
                color: #ffffff;
            }

            .red {
                color: #ffffff;
            }

            .goal {
                color: #ffffff;
            }
        }

        .detail {
            .born {
                background-color: #ffffff;
            }

            .position {
                background-color: #f4f5f6;
            }

            .previous {
                background-color: #ffffff;
            }

            .signed {
                background-color: #f4f5f6;
            }

            .bio {
                background-color: #ffffff;
            }

            .topic {
                color: #1e2b44;
                font-size: 16px;
                font-weight: bold;
            }

            .about {
                color: #213647;
                font-size: 14px;
            }
        }
    }
}
