ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="personals.refresh()")

div.subteam(ng-if="personals.loaded")
    div.cover
        img.image(src="./img/about-club/team/cover.png")

    div.headline
        div.title.text-center {{headline}}

    div.personal
        div.nodata(ng-if="personals.items.length == 0")
            div.row
                div.col.col-center.text-center
                    div.text {{'about_club.team.notfound' | trans}}

        div(ng-repeat="item in personals.items")
            div.detail
                div.row(ui-sref="personal-detail({id : item.id})")
                    div.col.col-center.text-center
                        div.position(ng-class="personals.getPositionClass(item.position.shortName)")
                            span.job {{item.position.shortName}}
                    div.col.col-center
                        div.circle
                            div.subcircle
                                img.image(image-cache="{{item.image}}")
                    div.col.col-67.col-center.text-left
                        span.fullname {{item.fullname}}
                    div.col.col-center.text-center
                        span.no \#{{item.no}}

ion-infinite-scroll(ng-if="personals.next" on-infinite="personals.loadNext()", distance="1%")

loading-overlay(id="about-club-team")
