ion-refresher(pulling-text="Pull to refresh...", on-refresh="personals.refresh()")

div.cover
    img.image(src="./img/about-club/team/cover.png")

div.headline
    div.title.text-center {{headline}}

div.personal
    div.nodata(ng-if="personals.items.length == 0")
        div.row
            div.col.col-center.text-center
                div.text Has no personals.

    div(ng-repeat="personal in personals.items")
        div.detail
            div.row(ui-sref="personal-detail({id : item.id})")
                div.col.col-center.text-center
                    div.position(ng-class="personals.getPositionClass(personal.position.shortName)")
                        span.job {{personal.position.shortName}}
                div.col.col-center
                    div.circle
                        div.subcircle
                            img.image(ng-src="{{personal.image}}")
                div.col.col-67.col-center.text-left
                    span.fullname {{personal.fullname}}
                div.col.col-center.text-center
                    span.no \#{{personal.no}}

ion-infinite-scroll(ng-if="personals.hasMorePage" on-infinite="personals.loadNext()", distance="1%")
