ion-refresher(pulling-text="Pull to refresh...", on-refresh="players.doRefresh()")

div.cover
    img.image(src="./img/about-club/team/cover.png")

div.headline
    div.title.text-center {{headline}}

div.player
    div.nodata(ng-if="players.items.length == 0")
        div.row
            div.col.col-center.text-center
                div.text Has no players.

    div(ng-repeat="player in players.items")
        div.row.button.button-clear(ui-sref="player-detail")
            div.col.col-center.text-center
                div.position(ng-class="{'-keeper' : player.position == 'G', " +
                "'-defender' : player.position == 'D', " + "'-midfield' : player.position == 'M', " +
                "'-forword' : player.position == 'F'}")
                    span.job {{player.position}}
            div.col.col-center.circle
                div.circle-start
                    div.circle-in
                        img.photo(ng-src="{{player.photo}}")
            div.col.col-67.col-center.text-left.name {{player.name}}
            div.col.col-center.text-center.number \#{{player.number}}

ion-infinite-scroll(ng-if="players.next" on-infinite="players.loadMore()", distance="5%")
