.timeline-update {
    .content {
        margin-top: -66px !important;
    }

    .section {
        background-color: #213647;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
    }

    .nodata {
        .text {
            padding: 18px 0px 18px 0px;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .userbox {
        .photo {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            background-color: #f0f0f0;
        }

        .name {
            margin-left: 4px;
            color: #231f20;
        }
    }

    .timeline {
        @import "timeline/main";
    }

    .update {
        @import "update/main";
    }
}


.fix-tab {
    top: 112px !important;
    height: auto !important;
}
