ion-view.fanzone
    ion-nav-title
        a.button.button-clear(ng-click="back()", style="margin-top: 5px;")
            i.icon.ion-ios-keypad-outline

    ion-nav-buttons(side="right")
        a.button.button-clear(ng-click="")
            i.icon.ion-android-more-vertical

    ion-content.content(scroll="false")
        ion-tabs.tabs-striped.tabs-top.tabs-icon-left.tabs-background-positive.tabs-color-light
            ion-tab(title="Products")
                ion-content.products.fix-tab
                    div(ui-view="products")
            ion-tab(title="Wallpapers")
                ion-content.wallpapers.fix-tab
                    div(ui-view="wallpapers")
            ion-tab(title="Questionary")
                ion-content.questionary.fix-tab
                    div(ui-view="questionary")

    //ion-footer-bar.bar-positive.footer
