ion-view.fanzone-main
    ion-nav-title
        a.button.button-clear(ng-click="back()", style="margin-top: 5px;")
            i.icon.ion-ios-keypad-outline

    ion-nav-buttons(side="right")
        a.button.button-clear(ng-click="")
            i.icon.ion-android-more-vertical

    ion-tabs.tabs-striped.tabs-top.tabs-background-positive.tabs-color-light
        ion-tab(title="Products" ui-sref="fanzone.product")
            ion-tab-content.content-fanzone
                ion-content
                    div(ui-view="product")

        ion-tab(title="Wallpapers" ui-sref="fanzone.wallpaper")
            ion-tab-content.content-fanzone
                ion-content
                    div(ui-view="wallpaper")

        ion-tab(title="Questionary" ui-sref="fanzone.questionary")
            ion-tab-content.content-fanzone
                ion-content
                    div(ui-view="questionary")

    .footer-fanzone
        ion-footer-bar.bar-positive
