.wallpaper-content {
    background-color: #1e2b44;

    .wrap {
        padding: 0;
        margin-top: 7px;
        position: relative;

        .image {
            min-width: 100%;
            height: 200px;
        }
        .logo {
            z-index: 1;
            top: 5%;
            left: 3%;
            width: 8%;
            height: 15%;
            position: absolute;
        }
    }
}
