@import "wallpapers";
@import "products";

.content-fanzone {
    .has-footer {
        bottom: 20px;
        background-color: #000000;
    }
}

.footer-fanzone {
    .bar-footer {
        height: 20px;
    }
}
