ion-view.ranking-detail
    ion-nav-buttons(side='left')
        a.button.button-icon.ion-ios-arrow-left(ng-click='back()')
            img(src="./img/logo/navbar.png", srcset="./img/logo/navbar@2x.png",style="height:15px; margin-top:10px;")

    ion-content.content
        ion-refresher(pulling-text="Pull to refresh...", on-refresh="ranking.doRefresh()")

        div.row
            div.col.col-33
                div.row.inrow
                    div.col
                        div.circle
                            div.subcircle
                                img.image(ng-src="{{ranking.item.photo}}")
                div.row.inrow
                    div.col
                        img.club(src="./img/logo/club.png", srcset="./img/logo/club@2x.png 2x")
            div.col.col-66
                div.row.name
                    div.col
                        | {{ranking.item.name}}
                div.row.inrow.title
                    div.col
                        | Prediction
                div.row.inrow.detail
                    div.col.col-30
                        | Ranking
                    div.col.col-70.text-right
                        span.number {{ranking.item.prediction | number}}
                div.row.inrow.title
                    div.col
                        | Score
                div.row.inrow.detail
                    div.col.col-30
                        | Ranking
                    div.col.col-70.text-right
                        span.number {{ranking.item.score | number}}
                div.row.inrow.title
                    div.col
                        | Player
                div.row.inrow.detail
                    div.col.col-30
                        | Ranking
                    div.col.col-70.text-right
                        span.number {{ranking.item.player | number}}

        div.season.topic
            div.row.headline
                div.col.inrow
                    div.halfcircle
                div.col.inrow.col-90.col-center
                    span.head Season Points
                    span.subhead  คะแนนรวมทั้งฤดูกาล
            div.result
                div.row.subtopic
                    div.col.col-center
                        | เกมทายผล
                div.row.grey.text-center
                    div.col.dark-blue
                        | เจ้าบ้าน
                    div.col.dark-blue
                        | เสมอ
                    div.col.dark-blue
                        | ทีมเยือน
                div.row.inrow.white
                    div.col.dark-blue.-big.text-right
                        | 24
                    div.col.dark-blue.-big
                        | 8
                    div.col.dark-blue.-big.text-right
                        | 15
                    div.col.dark-blue.-big
                        | 5
                    div.col.dark-blue.-big.text-right
                        | 3
                    div.col.dark-blue.-big
                        | 2
                div.row.inrow.white
                    div.col.dark-blue.text-right
                        | คะแนน
                    div.col.dark-blue
                        | นัด
                    div.col.dark-blue.text-right
                        | คะแนน
                    div.col.dark-blue
                        | นัด
                    div.col.dark-blue.text-right
                        | คะแนน
                    div.col.dark-blue
                        | นัด
                div.row.text-center.grey
                    div.col.col-25.dark-blue
                        | จำนวน
                    div.col.col-25.dark-blue
                        | ถูก
                    div.col.col-25.dark-blue
                        | ผิด
                    div.col.col-25.dark-blue
                        | คะแนน
                div.row.text-center.inrow-bot.white
                    div.col.col-25.border.dark-blue.-big
                        | 15
                    div.col.col-25.border.dark-blue.-big
                        | 14
                    div.col.col-25.border.dark-blue.-big
                        | 1
                    div.col.col-25.yellow.-small
                        | 45
                div.line
                div.row.white
                    div.col.col-67.dark-blue.-bigger
                        | ความแม่นยำ
                    div.col.col-33.blue
                        | 92
                        span.dark-blue.-bigger  %


            div.score
                div.row.subtopic
                    div.col.col-center
                        | เกมทายสกอร์
                div.row.grey.text-center
                    div.col.col-20.dark-blue
                        | จำนวน
                    div.col.col-20.dark-blue
                        | ถูก
                    div.col.col-20.dark-blue
                        | เฉียด
                    div.col.col-20.dark-blue
                        | ผิด
                    div.col.col-20.dark-blue
                        | คะแนน
                div.row.text-center.inrow-bot.white
                    div.col.col-20.border.dark-blue.-big
                        | 1
                    div.col.col-20.border.dark-blue.-big
                        | 2
                    div.col.col-20.border.dark-blue.-big
                        | 3
                    div.col.col-20.border.dark-blue.-big
                        | 4
                    div.col.col-20.dark-blue.-big
                        | 5
                div.line
                div.row.white
                    div.col.col-67.dark-blue.-bigger
                        | ความแม่นยำ
                    div.col.col-33.blue
                        | 75
                        span.dark-blue.-bigger  %
                div.row.grey
                    div.col.col-67.dark-blue.-bigger
                        | คะแนนรวม
                    div.col.col-33.yellow.-bigger
                        | 79
                        span.dark-blue.-bigger  คะแนน

        div.month.topic
            div.row.headline
                div.col.inrow
                    div.halfcircle
                div.col.inrow.col-90.col-center
                    span.head Month Points
                    span.subhead  คะแนนรวมประจำเดือน {{month}}
            div.result
                div.row.subtopic
                    div.col.col-center
                        | เกมทายผล
                div.row.grey.text-center
                    div.col.dark-blue
                        | เจ้าบ้าน
                    div.col.dark-blue
                        | เสมอ
                    div.col.dark-blue
                        | ทีมเยือน
                div.row.inrow.white
                    div.col.dark-blue.-big.text-right
                        | 24
                    div.col.dark-blue.-big
                        | 8
                    div.col.dark-blue.-big.text-right
                        | 15
                    div.col.dark-blue.-big
                        | 5
                    div.col.dark-blue.-big.text-right
                        | 3
                    div.col.dark-blue.-big
                        | 2
                div.row.inrow.white
                    div.col.dark-blue.text-right
                        | คะแนน
                    div.col.dark-blue
                        | นัด
                    div.col.dark-blue.text-right
                        | คะแนน
                    div.col.dark-blue
                        | นัด
                    div.col.dark-blue.text-right
                        | คะแนน
                    div.col.dark-blue
                        | นัด
                div.row.text-center.grey
                    div.col.col-25.dark-blue
                        | จำนวน
                    div.col.col-25.dark-blue
                        | ถูก
                    div.col.col-25.dark-blue
                        | ผิด
                    div.col.col-25.dark-blue
                        | คะแนน
                div.row.text-center.inrow-bot.white
                    div.col.col-25.border.dark-blue.-big
                        | 15
                    div.col.col-25.border.dark-blue.-big
                        | 14
                    div.col.col-25.border.dark-blue.-big
                        | 1
                    div.col.col-25.yellow.-small
                        | 45
                div.line

            div.score
                div.row.subtopic
                    div.col.col-center
                        | เกมทายสกอร์
                div.row.grey.text-center
                    div.col.col-20.dark-blue
                        | จำนวน
                    div.col.col-20.dark-blue
                        | ถูก
                    div.col.col-20.dark-blue
                        | เฉียด
                    div.col.col-20.dark-blue
                        | ผิด
                    div.col.col-20.dark-blue
                        | คะแนน
                div.row.text-center.inrow-bot.white
                    div.col.col-20.border.dark-blue.-big
                        | 1
                    div.col.col-20.border.dark-blue.-big
                        | 2
                    div.col.col-20.border.dark-blue.-big
                        | 3
                    div.col.col-20.border.dark-blue.-big
                        | 4
                    div.col.col-20.dark-blue.-big
                        | 5
                div.line
                div.row.grey
                    div.col.col-67.dark-blue.-bigger
                        | คะแนนรวม
                    div.col.col-33.yellow.-bigger
                        | 79
                        span.dark-blue.-bigger  คะแนน

        div.last.topic
            div.row.headline
                div.col.inrow
                    div.halfcircle
                div.col.inrow.col-90.col-center
                    span.head Lasted Match
                    span.subhead  คะแนน 5 นัดล่าสุด
            div.result
                div.row.subtopic
                    div.col.col-center
                        | เกมทายผล
                div.predict
                    div.row.grey
                        div.col
                            | {{ranking.item.date}}
                    div.row.white
                        div.col.col-33.text-right
                            span(ng-class="{'cover' : ranking.item.teamHome.score > ranking.item.teamAway.score }")
                                | {{ranking.item.teamHome.name}} {{ ranking.item.teamHome.score}}
                        div.col.text-center.blue.-normal
                            | - 1.50
                        div.col.col-33
                            span(ng-class="{'cover' : ranking.item.teamHome.score < ranking.item.teamAway.score }")
                                | {{ranking.item.teamAway.name}} {{ ranking.item.teamAway.score}}
                        div.col.col-20.yellow.-smaller
                            | 5 คะแนน
                div.line
                div.row.grey
                    div.col.col-67.dark-blue.-bigger
                        | คะแนนรวม
                    div.col.col-33.yellow.-bigger
                        | 79
                        span.dark-blue.-bigger  คะแนน
                div.big-line
                div.real
                    div.row.grey
                        div.col
                            | {{ranking.item.date}}
                    div.row.white
                        div.col.col-33.text-right
                            span(ng-class="{'cover' : ranking.item.teamHome.score > ranking.item.teamAway.score }")
                                | {{ranking.item.teamHome.name}} {{ ranking.item.teamHome.score}}
                        div.col.text-center.blue.-normal
                            | - 1.50
                        div.col.col-33
                            span(ng-class="{'cover' : ranking.item.teamHome.score < ranking.item.teamAway.score }")
                                | {{ranking.item.teamAway.name}} {{ ranking.item.teamAway.score}}
                        div.col.col-20.yellow.-smaller
                            | 5 คะแนน
                    div.row.white
                        div.col.col-33.text-right
                            | สกอร์จริง
                        div.col
                            | 4 - 2
                div.line
                div.row.grey
                    div.col.col-67.dark-blue.-bigger
                        | คะแนนรวม
                    div.col.col-33.yellow.-bigger
                        | 79
                        span.dark-blue.-bigger  คะแนน
                div.line
                div.row.end
                    div.history History ประวัติการทายผลทั้งหมด

