ion-view.ranking-detail
    ion-nav-buttons(side='left')
        a.button.button-icon.ion-ios-arrow-left(ng-click='back()')
            img(src="./img/logo/navbar.png", srcset="./img/logo/navbar@2x.png",style="height:15px; margin-top:10px;")

    ion-content.content
        ion-refresher(pulling-text="Pull to refresh...", on-refresh="ranking.doRefresh()")

        div.row
            div.col.col-33
                div.row.inrow
                    div.col
                        div.circle
                            div.subcircle
                                img.image(ng-src="{{ranking.item.photo}}")
                div.row.inrow
                    div.col
                        img.club(src="./img/logo/club.png", srcset="./img/logo/club@2x.png 2x")
            div.col.col-66
                div.row.name
                    div.col
                        | {{ranking.item.name}}
                div.row.inrow.title
                    div.col
                        | Prediction
                div.row.inrow.detail
                    div.col.col-30
                        | Ranking
                    div.col.col-70.text-right
                        span.number {{ranking.item.prediction | number}}
                div.row.inrow.title
                    div.col
                        | Score
                div.row.inrow.detail
                    div.col.col-30
                        | Ranking
                    div.col.col-70.text-right
                        span.number {{ranking.item.score | number}}
                div.row.inrow.title
                    div.col
                        | Player
                div.row.inrow.detail
                    div.col.col-30
                        | Ranking
                    div.col.col-70.text-right
                        span.number {{ranking.item.player | number}}

        div.season.topic
            div.row.headline
                div.col.inrow
                    div.halfcircle
                div.col.inrow.col-90.col-center
                    span(style="font-size:17px; font-weight:bold;  color:#ffffff;") Season Points
                    span(style="color:#ffffff;")  คะแนนรวมทั้งฤดูกาล
            div.result
                div.row.subtopic
                    div.col.col-center
                        | เกมทายผล
                div.row.inrow
                    div.col.col-33.inrow-side.head.text-center เจ้าบ้าน
                        div.row.inrow.point
                            div.col.text-right
                                | 24
                            div.col.text-left
                                | 8
                        div.row.inrow.text
                            div.col.text-right
                                | คะแนน
                            div.col.text-left
                                | นัด
                    div.col.col-33.inrow-side.head.text-center เสมอ
                        div.row.inrow.point
                            div.col.text-right
                                | 15
                            div.col.text-left
                                | 5
                        div.row.inrow.text
                            div.col.text-right
                                | คะแนน
                            div.col.text-left
                                | นัด
                    div.col.col-33.inrow-side.head.text-center ทีมเยือน
                        div.row.inrow.point
                            div.col.text-right
                                | 3
                            div.col.text-left
                                | 2
                        div.row.inrow.text
                            div.col.text-right
                                | คะแนน
                            div.col.text-left
                                | นัด
                div.row.text-center.head
                    div.col.col-25
                        | จำนวน
                    div.col.col-25
                        | ถูก
                    div.col.col-25
                        | ผิด
                    div.col.col-25
                        | คะแนน
                div.row.text-center.point
                    div.col.col-25
                        | 15
                    div.col.col-25
                        | 14
                    div.col.col-25
                        | 1
                    div.col.col-25.-sum
                        | 45
                div.line
                div.row(style="background-color:#ffffff;")
                    div.col.col-67.point.-big
                        | ความแม่นยำ
                    div.col.col-33.point.-blue
                        | 92
                        span.point.-big  %


            div.score
                div.row.subtopic
                    div.col.col-center
                        | เกมทายสกอร์
                div.row.text-center.head
                    div.col.col-20
                        | จำนวน
                    div.col.col-20
                        | ถูก
                    div.col.col-20
                        | เฉียด
                    div.col.col-20
                        | ผิด
                    div.col.col-20
                        | คะแนน
                div.row.text-center.point
                    div.col.col-20
                        | 1
                    div.col.col-20
                        | 2
                    div.col.col-20
                        | 3
                    div.col.col-20
                        | 4
                    div.col.col-20
                        | 5
                div.line
                div.row(style="background-color:#ffffff;")
                    div.col.col-67.point.-big
                        | ความแม่นยำ
                    div.col.col-33.point.-blue
                        | 75
                        span.point.-big  %
                div.row(style="background-color:#eeeded;")
                    div.col.col-67.point.-big
                        | คะแนนรวม
                    div.col.col-33.point.-yellow
                        | 79
                        span.point.-big  คะแนน

        div.month.topic
            div.row.headline
                div.col.inrow
                    div.halfcircle
                div.col.inrow.col-90.col-center
                    span(style="font-size:17px; font-weight:bold;  color:#ffffff;") Month Points
                    span(style="color:#ffffff;")  คะแนนรวมประจำเดือน {{month}}
            div.result
                div.row.subtopic
                    div.col.col-center
                        | เกมทายผล
                div.row.inrow
                    div.col.col-33.inrow-side.head.text-center เจ้าบ้าน
                        div.row.inrow.point
                            div.col.text-right
                                | 24
                            div.col.text-left
                                | 8
                        div.row.inrow.text
                            div.col.text-right
                                | คะแนน
                            div.col.text-left
                                | นัด
                    div.col.col-33.inrow-side.head.text-center เสมอ
                        div.row.inrow.point
                            div.col.text-right
                                | 15
                            div.col.text-left
                                | 5
                        div.row.inrow.text
                            div.col.text-right
                                | คะแนน
                            div.col.text-left
                                | นัด
                    div.col.col-33.inrow-side.head.text-center ทีมเยือน
                        div.row.inrow.point
                            div.col.text-right
                                | 3
                            div.col.text-left
                                | 2
                        div.row.inrow.text
                            div.col.text-right
                                | คะแนน
                            div.col.text-left
                                | นัด
                div.row.text-center.head
                    div.col.col-25
                        | จำนวน
                    div.col.col-25
                        | ถูก
                    div.col.col-25
                        | ผิด
                    div.col.col-25
                        | คะแนน
                div.row.text-center.point
                    div.col.col-25
                        | 15
                    div.col.col-25
                        | 14
                    div.col.col-25
                        | 1
                    div.col.col-25.-sum
                        | 45
                div.line

            div.score
                div.row.subtopic
                    div.col.col-center
                        | เกมทายสกอร์
                div.row.text-center.head
                    div.col.col-20
                        | จำนวน
                    div.col.col-20
                        | ถูก
                    div.col.col-20
                        | เฉียด
                    div.col.col-20
                        | ผิด
                    div.col.col-20
                        | คะแนน
                div.row.text-center.point
                    div.col.col-20
                        | 1
                    div.col.col-20
                        | 2
                    div.col.col-20
                        | 3
                    div.col.col-20
                        | 4
                    div.col.col-20
                        | 5
                div.line
                div.row(style="background-color:#eeeded;")
                    div.col.col-67.point.-big
                        | คะแนนรวม
                    div.col.col-33.point.-yellow
                        | 79
                        span.point.-big  คะแนน

        div.last.topic
            div.row.headline
                div.col.inrow
                    div.halfcircle
                div.col.inrow.col-90.col-center
                    span(style="font-size:17px; font-weight:bold;  color:#ffffff;") Lasted Match
                    span(style="color:#ffffff;")  คะแนน 5 นัดล่าสุด
                    
