@charset "UTF-8";

.match-label {
    .nodata {
        .text {
            padding: 18px 0px 18px 0px;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .section {
        height: 30px;
        background-color: #e6e7e8;
        font-size: 14px;
        color: #58595b;
    }

    .label {
        margin-top: 4px;
        background-color: #ffffff;
        line-height: 22px;

        .logo {
            .image {
                width: 40px;
                height: 40px;
                background-color: #f0f0f0;
            }
        }

        .name {
            font-size: 14px;
            color: #000000;
        }

        .detail {
            line-height: 20px;
            .score {
                font-size: 22px;
                font-weight: bold;
                color: #0087cf;
            }

            .time {
                font-size: 14px;
                font-weight: bold;
                color: #0087cf;
            }

            .date {
                font-size: 10px;
                color: #848586;
            }
        }
    }
}

// For iPhone 4 and iPhone 5 display.
@media screen and (max-device-width : 320px) {
    .match-label {
        .label {
            padding-right: 0px;
            padding-left: 0px;
            line-height: 13px;

            .name {
                font-size: 12px;
                .paddleft {
                    padding-left: 0px;
                }

                .paddright {
                    padding-right: 0px;
                }
            }

            .detail {
                line-height: 20px;
                padding-right: 0px;
                padding-left: 0px;
            }
        }
    }
}

