ion-modal-view
    ion-header-bar
        h1.title Login
        .buttons
            button.button.button-clear(ng-click='authen.ui.hide()') Close

    ion-content
        form(ng-submit='authen.ui.submit()')
            .list
                label.item.item-input
                    span.input-label Username
                    input(type='text' ng-model='authen.username' required)
                label.item.item-input
                    span.input-label Password
                    input(type='password' ng-model='authen.password' required)
                label.item
                    button.button.button-block.button-positive(type='submit' ng-disabled="authen.busy") Log in
