.live-view {
    .section {
        background-color: #213647;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
    }
}

.timeline-view {
    .header {
        height: 10px;
        background-color: #d1d3d4;
    }

    .datetime {
        background-color: #f1f2f2;
        font-size: 14px;
        font-weight: bold;
        color: #6d6e71;
    }
}