ion-view.competition-table
    ion-nav-title Competition & Table
    ion-nav-buttons(side="left")
        a.button.button-icon.ion-ios-arrow-left(ng-if="isIOS", ng-click="back()")
            img.logo(
            src="./img/logo/navbar.png"
            srcset="./img/logo/navbar@2x.png 2x"
            )
    ion-nav-buttons(side="right")
        a.button.button-clear(ng-click="")
            i.icon.ion-android-more-vertical

    ion-content.content(scroll="false")
        ion-tabs.tabs-striped.tabs-top.tabs-icon-left.tabs-background-positive.tabs-color-light
            ion-tab(title="Fixture")
                ion-content.fixture.fix-tab
                    div(ui-view="fixture")
            ion-tab(title="Results")
                ion-content.results.fix-tab
                    div(ui-view="results")
            ion-tab(title="Position Table")
                ion-content.position-table.fix-tab
                    div(ui-view="position-table")
