$match-label-section-bg: #e6e7e8;
$match-label-section-text: #58595b;
$match-label-content-bg: #ffffff;
$match-label-content-detail-time-and-score-text: #0087cf;
$match-label-content-detail-datetime-text: #848586;


.competitionandtable-main {
    .content {
        //margin-top: -66px !important;
        //height: ;
    }

    .match-label {
        .section {
            height: 30px;
            background-color: $match-label-section-bg;
            font-size: 14px;
            color: $match-label-section-text;
        }

        .content {
            background-color: $match-label-content-bg;

            .logo {
                .image {
                    width: 40px;
                    height: 40px;
                }
            }

            .name {
                font-size: 14px;
            }

            .detail {

                .time-and-score {
                    font-size: 20px;
                    font-weight: bold;
                    color: $match-label-content-detail-time-and-score-text;
                }

                .datetime {
                    font-size: 9px;
                    color: $match-label-content-detail-datetime-text;
                }
            }
        }
    }
}

.fix-tab {
    top: 112px !important;
    height: auto !important;
}