@charset "UTF-8";

$lists: (
    (class:a, background-color: #00bbe0, text1: #ffffff, text2: #ffffff, balance: #caf906),
    (class:b, background-color: #1388cd, text1: #ffffff, text2: #ffffff, balance: #caf906),
    (class:c, background-color: #0056a5, text1: #ffffff, text2: #ffffff, balance: #caf906)
);

@mixin ticketzone($color) {
    .col-left {
        color: #ffffff;
        background-color: $color;
    }

    .col-right {
        color: $color;
        background-color: #ffffff;
    }

    border-radius: 16px;
    border: 1px solid $color;
}

@mixin ticketmatches($background-color, $text1, $text2, $balance) {
    background-color: $background-color;

    .text1 {
        color: $text1;
    }

    .text2 {
        color: $text2;
    }

    .balance {
        color: $balance;
    }
}

@each $list in $lists {
    $class: nth(nth($list, 1), 2);
    $background-color: nth(nth($list, 2), 2);
    $text1: nth(nth($list, 3), 2);
    $text2: nth(nth($list, 4), 2);
    $balance: nth(nth($list, 5), 2);

    .ticketzone-#{$class} {
        @include ticketzone($background-color);
    }

    .ticketmatches-#{$class} {
        @include ticketmatches($background-color, $text1, $text2, $balance);
    }
}

.cover {
    width: 100%;
    height: 145px;
    min-height: 145px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/ticket-membership/ticket/cover.png");
}

.section {
    .text {
        padding-left: 6px;
    }
}

.image {
    width: 100%;
    height: auto;
}

.ticketzone {
    width: 80%;
    margin: auto;

    .row {
        padding: 0;
        margin-bottom: 4px;
    }

    .col {
        padding: 4px 0;
        border-radius: 16px;
    }
}

.seat {
    .text1 {
        font-size: 18px;
        font-weight: bold;
    }

    .text2 {
        font-size: 14px;
    }

    .balance {
        font-size: 36px;
        font-weight: bold;
    }
}

.seasonticket {
    .text1 {
        font-size: 18px;
        font-weight: bold;
    }
}

.footer {
    height: 14px;
    width: 100%;
    background-color: #1388cd;
}

.space {
    height: 8px;
    width: auto;
}

@media screen and (-webkit-device-pixel-ratio: 2) {
    .cover {
        background-image: url("../img/ticket-membership/ticket/cover@2x.png");
    }
}
