ion-view.people-ranking
    ion-nav-title
        a.button.button-clear(ng-click="back()", style="margin-top: 5px;")
            i.icon.ion-ios-keypad-outline

    ion-nav-buttons(side="right")
        a.button.button-clear(ng-click="")
            i.icon.ion-android-more-vertical

    ion-content.content(scroll="false")
        ion-tabs.tabs-striped.tabs-top.tabs-icon-left.tabs-background-positive.tabs-color-light
            ion-tab(title="Result")
                ion-content.result.fix-tab
                    div(ui-view="result")
            ion-tab(title="Score")
                ion-content.score.fix-tab
                    div(ui-view="score")
            ion-tab(title="Player")
                ion-content.player.fix-tab
                    div(ui-view="player")
