@charset "UTF-8";

.wrap {
    padding: 0;
    margin-top: 7px;
    position: relative;

    .image {
        min-width: 100%;
        height: 200px;
    }
    .shadow {
        z-index: 1;
        min-width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
    }
    .info {
        z-index: 2;
        position: absolute;
        bottom: 5px;
        left: 15px;
        h5 {
            color: #ffffff;
        }
    }
}

.store {
    .header {
        text-align: center;
        text-transform: uppercase;
        background-color: #0056a5;

        h3 {
            color: #ffffff;
            margin: 5px;
        }
    }
    .detail {
        background-color: #1388cd;
        padding: 15px;

        h4 {
            color: #ffffff;
            margin-top: 0;
        }
        h5 {
            color: #ffffff;
            margin: 0;
        }
    }
}
