ion-refresher(pulling-text="Pull to refresh...", on-refresh="data.doRefresh()")

div.games-live
    div.match-label
        div(ng-repeat="section in matchLabel.sections")
            div(ng-repeat="item in section.items")
                div.row.inrow
                    div.col.col-center.text-right.logo
                        img.image(ng-src="{{item.homeClub.logo}}")
                    div.col.col-33.col-center.text-center.name
                        | {{item.homeClub.name}}
                    div.col.col-10.col-center.text-center.vs
                        | vs
                    div.col.col-33.col-center.text-center.name
                        | {{item.awayClub.name}}
                    div.col.col-center.text-left.logo
                        img.image(ng-src="{{item.awayClub.logo}}")

    div.headline
        div.row.inrow
            div.col.col-20.col-center
                img.image(src="./img/logo/club.png", srcset="./img/logo/club@2x.png 2x")
            div.col.col-center
                | {{'ui.t.live.name'|trans}}
                br
                | {{'ui.t.live.stadium'|trans}}
            div.col.col-center.text-right.time
                span.yellow {{'ui.t.live.timeremain'|trans}}
                span  {{timeRemain }} {{'ui.t.live.minute'|trans}}

    div.steaming
        iframe(ng-src="https://www.youtube.com/embed/7bbbvHO69gE", width="100%", height="230")

    match-events(items="matchEvents.items")

    div.footer

    //div.match-events(ng-if="matchEvents.activities.length > 0", id="match-events")
    //    div.line(id="match-events-line")
    //
    //    div(ng-repeat="item in matchEvents.activities")
    //        div.row.row-center.killpadding
    //            div.col.col-center
    //                div.text-right(ng-if="item.side == 'home'")
    //                    span.name(ng-if="item.actor") {{item.actor}}
    //                    img.image(
    //                    ng-if="item.icon"
    //                    ng-src="./img/icon/{{item.icon}}.png"
    //                    srcset="./img/icon/{{item.icon}}@2x.png 2x"
    //                    )
    //                    span.description(ng-if="item.description") {{item.description}}
    //                    span.time(ng-if="item.time") {{item.time}}
    //            div.col.col-10.col-center.text-center
    //                div.dot.-normal(ng-if="item.dot == 'normal'")
    //                    i.icon.ion-record
    //                div.dot.-halftime(ng-if="item.dot == 'halftime'")
    //                    i.icon.ion-record
    //                div.dot.-large(ng-if="item.dot == 'large'")
    //                    i.icon.ion-ios-circle-filled
    //            div.col.col-center
    //                div.text-left(ng-if="item.side == 'away'")
    //                    span.time(ng-if="item.time") {{item.time}}
    //                    span.description(ng-if="item.description") {{item.description}}
    //                    img.image(
    //                    ng-if="item.icon"
    //                    ng-src="./img/icon/{{item.icon}}.png"
    //                    srcset="./img/icon/{{item.icon}}@2x.png 2x"
    //                    )
    //                    span.name(ng-if="item.actor") {{item.actor}}
