ion-view.member-main(hide-nav-bar="true")
    ion-content.content(scroll="false")
        div.header
            div.subheader
                img.logo(src="./img/member/logo.png", srcset="./img/member/logo@2x.png 2x")
                img.sublogo(src="./img/member/sublogo.png", srcset="./img/member/sublogo@2x.png 2x")
        div.footer
            div.row
                div.col.text-center
                    button.button.button-outline.button-light(ui-sref="login")
                        span Login
                div.col.text-center
                    button.button.button-outline.button-light(ui-sref="register")
                        span Register
            div.row
                div.col.text-center
                    button.button.button-outline.button-light
                        span.bold Member ID Login
            div.row
                div.col.text-center
                    button.button.button-outline.button-light
                        span Sign in with
                        span.bold  Facebook
                    div.facebook
