ion-view.member-register
    ion-nav-title Register
    ion-nav-buttons(side="left")
        a.button.button-icon.ion-ios-arrow-left(ng-if="isIOS", ng-click="back()")
            img.logo(
            src="./img/logo/navbar.png"
            srcset="./img/logo/navbar@2x.png 2x"
            )
    ion-content.content(scroll="false")
        div.form
            div.row
                div.col.text-center
                    input(type="text", placeholder="Username", maxlength="255")
            div.row
                div.col.text-center
                    input(type="text", placeholder="Email", maxlength="255")
            div.row
                div.col.text-center
                    input(type="password", placeholder="Password", maxlength="255")
            div.row
                div.col.text-center
                    input(type="password", placeholder="Confirm password", maxlength="255")

        div.submit
            div.row
                div.col.text-center
                    button.button.button-positive Next