div.date-picker
    div.col.text-center
        div.row.border
            div.col.col-center.col-20
                span.text-default Day
            div.col.col-center.col-10.arrow
                i.icon.ion-ios-arrow-down
            div.col.col-center.col-20
                span.text-default Month
            div.col.col-center.col-10.arrow
                i.icon.ion-ios-arrow-down
            div.col.col-center
                span.text-default Year
            div.col.col-center.col-10.arrow
                i.icon.ion-ios-arrow-down
div(ng-transclude)
