ion-refresher(pulling-text="Pull to refresh...", on-refresh="Wallpapers.refresh()")

div.items
    div(ng-repeat="item in wallpapers.items")
        div.space
        div.detail(ng-style="{'background-image' : 'url({{item.image}})'}", ng-click="downloadFile('{{item.image}}')")

ion-infinite-scroll(ng-if="Wallpapers.next" on-infinite="Wallpapers.loadNext()", distance="1%")
