ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="wallpapers.refresh()")

div.items
    div.subitems(ng-if="wallpapers.loaded")
        div.nodata(ng-if="wallpapers.items.length == 0")
            div.row
                div.col.col-center.text-center
                    span {{'fanzone.wallpapers.notfound' | trans}}

        div(ng-repeat="item in wallpapers.items")
            div.space
            div.detail(image-cache="{{item.image}}", ng-click="downloadFile('{{item.image}}')")

ion-infinite-scroll(ng-if="Wallpapers.next" on-infinite="Wallpapers.loadNext()", distance="1%")

loading-overlay(id="fanzone-wallpapers")
