.news-detail {
    .image {
        background-color: #f0f0f0;
    }

    .userbox {
        .photo {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            background-color: #f0f0f0;
        }

        .name {
            margin-left: 4px;
            color: #231f20;
        }
    }

    .datetime {
        .line {
            margin: 6px 0px 6px 0px;
            padding: 8px 0px 8px 0px;
            border-color: #bbbbbb #ffffff #bbbbbb #ffffff;
            border-style: solid none solid none;
            border-width: 1px 1px 1px 1px;
        }

        .text {
            font-size: 14px;
            color: #6d6e71;
        }
    }

    .url {
        font-size: 14px;
        color: #26A9DF;
    }

    .headline {
        background-color: #1388cd;
        font-size: 18px;

        .subheadline {
            margin-left: 4px;
            padding-left: 8px;
            background-color: #ffffff;
        }
    }

    .description {
        font-size: 14px;
    }
}
