ion-view.ticket-membership
    ion-nav-title {{'ticket_membership.title' | trans}}
    ion-nav-buttons(side="left")
        a.button.button-nav.button-icon.ion-ios-arrow-left(ng-if="isIOS", ng-click="back()")
            img.logo(
            src="./img/logo/navbar.png"
            srcset="./img/logo/navbar@2x.png 2x"
            )

    ion-content.ticket
        div(ui-view="ticket")
