ion-modal-view.ads-main
    ion-content.content(scroll="false")
        div.banner
            div.subbanner(ng-style="{'background-image' : 'url({{banner}})'}")
        div.button.button-clear.close(ng-click="closeModal()")
            div.bg
            div.circle
