ion-refresher(pulling-text="Pull to refresh...", on-refresh="prediction.doRefresh()")

div.games-prediction
    | GAMES_PREDICTION

//ion-infinite-scroll(ng-if="prediction.next" on-infinite="prediction.loadMore()", distance="5%")
