ion-refresher(pulling-text="Pull to refresh...", on-refresh="prediction.doRefresh()")

div.games-prediction
    | GAMES_PREDICTION
    h1 Top
    h2 Top
    h3 Top
    h4 นี่มันอะไรวะเนียยยยยย!!!!
    h1 What the BUG!

//ion-infinite-scroll(ng-if="prediction.next" on-infinite="prediction.loadMore()", distance="5%")
