ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="club.refresh()")

div.subinfo(ng-if="club.loaded")
    div.cover(ng-if="club.item.stadiumImage")
        img.image(image-cache="{{club.item.stadiumImage}}")

    div.headline(ng-if="club.item.signatureName")
        div.title.text-center {{club.item.signatureName}}

    div.detail
        div.row
            div.col
                div.row.text-left.top
                    div.col.col-33
                        | {{'about_club.info.field.name' | trans}}
                    div.col.col-67(on-hold="clipboard(club.item.name)")
                        | {{club.item.name}}
                div.row.text-left.top
                    div.col.col-33
                        | {{'about_club.info.field.short_name' | trans}}
                    div.col.col-67(on-hold="clipboard(club.item.shortName)")
                        | {{club.item.shortName}}
                div.row.text-left.top
                    div.col.col-33
                        | {{'about_club.info.field.signature_name' | trans}}
                    div.col.col-67(on-hold="clipboard(club.item.signatureName)")
                        | {{club.item.signatureName}}
                div.row.text-left.top
                    div.col.col-33
                        | {{'about_club.info.field.league' | trans}}
                    div.col.col-67(on-hold="clipboard(club.item.clubClass.name)")
                        | {{club.item.clubClass.name}}

        div.row
            div.col
                div.row.text-left.middle
                    div.col.col-33
                        | {{'about_club.info.field.contact' | trans}}
                    div.col.col-67
                div.row.text-left.middle
                    div.col.col-33
                        | {{'about_club.info.field.website' | trans}}
                    div.col.col-67(on-hold="clipboard(club.item.website)")
                        | {{club.item.website}}
                div.row.text-left.middle
                    div.col.col-33
                        | {{'about_club.info.field.website' | trans}}
                    div.col.col-67(on-hold="clipboard(club.item.email)")
                        | {{club.item.email}}

        div.row
            div.col
                div.row.text-left.bottom
                    div.col.col-33
                        | {{'about_club.info.field.stadium_name' | trans}}
                    div.col.col-67(on-hold="clipboard(club.item.stadiumName)")
                        | {{club.item.stadiumName}}
                div.row.text-left.bottom
                    div.col.col-33
                        | {{'about_club.info.field.stadium_capacity' | trans}}
                    div.col.col-67(on-hold="clipboard(club.item.stadiumCapacity)")
                        | {{club.item.stadiumCapacity | number}}
                div.row.text-left.bottom
                    div.col.col-33
                        | {{'about_club.info.field.location' | trans}}
                    div.col.col-67(on-hold="clipboard(club.item.location)")
                        | {{club.item.location}}

    div.footer
        img.image(src="./img/about-club/info/map.png", srcset="./img/about-club/info/map@2x.png 2x")
