ion-modal-view.feature-ads
    ion-content.content(scroll="false")
        div.ads
            div.subads(ng-style="{'background-image' : 'url({{ads.item}})'}")
        div.button.button-clear.close(ng-click="closeAds()")
            div.bg
            div.circle
