ion-modal-view.feature-ads
    ion-content.content(scroll="false")
        div.ads
            div.subads(ng-style="{'background-image' : 'url(./img/ads/banners/1@2x.png)'}")

        div.button.button-clear.close(ng-click="closeAds()")
            div.bg
            div.circle
