ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="position.refresh()")

div(ng-if="position.loaded")
    div.nodata(ng-if="matchLabel.items.length == 0")
        div.row
            div.col.col-center.text-center
                span {{'competition_table.position_table.notfound' | trans}}

    div.space(ng-if="matchLabel.items.length != 0")

    div(ng-if="position.no")
        div.row.no
            div.col.col-center
                | {{'competition_table.position_table.league_position' | trans}}
            div.col.col-center.text-right.number
                | {{position.no | number}}

        div.space

    div(ng-if="position.season")
        div.row.season
            div.col.col-center
                | {{position.season.name}}

        div.space

    div.table(ng-if="position.items.length > 0")
        div.row.header
            div.col.col-10.text-center
                | {{'competition_table.position_table.no' | trans}}
            div.col.col-30.text-center
                | {{'competition_table.position_table.team' | trans}}
            div.col.col-20.text-center
                | {{'competition_table.position_table.play' | trans}}
            div.col.col-20.text-center
                | {{'competition_table.position_table.goal_difference' | trans}}
            div.col.col-20.text-center
                | {{'competition_table.position_table.point' | trans}}
        div(ng-repeat="item in position.items")
            div.row.body(ng-class="{'highlight' : item.me}")
                div.col.col-10.text-center
                    | {{$index + 1 | number}}
                div.col.col-30
                    | {{item.club.name}}
                div.col.col-20.text-center
                    | {{item.overallPlayed | number}}
                div.col.col-20.text-center
                    | {{item.overallGoalsDifference | number}}
                div.col.col-20.text-center
                    | {{item.overallPoints | number}}

ion-infinite-scroll(ng-if="position.next" on-infinite="position.loadNext()", distance="1%")
