ion-refresher(pulling-text='Pull to refresh...', on-refresh='position.refresh()')

div.table
    div.nodata(ng-if="position.items.length == 0")
        div.space
        div.row
            div.col.col-center.text-center
                div.text Has no position.
    div.row.header.normal(ng-if="position.items.length > 0")
        div.col.col-10.text-center
            | Pos
        div.col.col-30.text-center
            | Team
        div.col.col-20.text-center
            | Play
        div.col.col-20.text-center
            | -/+
        div.col.col-20.text-center
            | Points

    div(ng-repeat="item in position.items")
        div.row.row-center(ng-class="{normal : item.template == 'normal', highlight : item.template == 'highlight'}")
            div.col.col-10.text-center
                | {{$index + 1 | number}}
            div.col.col-30
                | {{item.name}}
            div.col.col-20.text-center
                | {{item.play | number}}
            div.col.col-20.text-center
                | {{item.goalDifference | number}}
            div.col.col-20.text-center
                | {{item.points | number}}

ion-infinite-scroll(ng-if="position.hasMorePage" on-infinite="position.loadNext()", distance="1%")
