ion-refresher(pulling-text='Pull to refresh...', on-refresh='position.refresh()')

div(ng-if="position.loaded")
    div.nodata(ng-if="matchLabel.items.length == 0")
        div.row
            div.col.col-center.text-center
                span Has no position table.

    div.space(ng-if="matchLabel.items.length != 0")

    div(ng-if="position.no")
        div.row.no
            div.col.col-center
                | League Position
            div.col.col-center.text-right.number
                | {{position.no | number}}

        div.space

    div(ng-if="position.season")
        div.row.season
            div.col.col-center
                | {{position.season.name}}

        div.space

    div.table(ng-if="position.items.length > 0")
        div.row.header
            div.col.col-10.text-center
                | Pos
            div.col.col-30.text-center
                | Team
            div.col.col-20.text-center
                | Play
            div.col.col-20.text-center
                | -/+
            div.col.col-20.text-center
                | Pts
        div(ng-repeat="item in position.items")
            div.row.body(ng-class="{'highlight' : item.me}")
                div.col.col-10.text-center
                    | {{$index + 1 | number}}
                div.col.col-30
                    | {{item.club.name}}
                div.col.col-20.text-center
                    | {{item.overallPlayed | number}}
                div.col.col-20.text-center
                    | {{item.overallGoalsDifference | number}}
                div.col.col-20.text-center
                    | {{item.overallPoints | number}}

ion-infinite-scroll(ng-if="position.next" on-infinite="position.loadNext()", distance="1%")
