ion-view.about-club
    ion-nav-title
        a.button.button-clear(ng-click='back()')(style="margin-top:5px;")
            i.icon.ion-ios-keypad-outline
    ion-nav-buttons(side='right')
        a.button.button-clear(ng-click='')
            i.icon.ion-android-more-vertical
    ion-content.content(scroll="false")
        ion-tabs.tabs-striped.tabs-top.tabs-icon-left.tabs-background-positive.tabs-color-light
            ion-tab(title="About Chonburi")
                ion-content.about-chonburi.fix-tab
                    div(ui-view="about-chonburi")
            ion-tab(title="First Team")
                ion-content.first-team.fix-tab
                    div(ui-view="first-team")
