ion-refresher(pulling-text="Pull to refresh...", on-refresh="ranking.doRefresh()")

div.games-ranking
    | GAMES_RANKING

//ion-infinite-scroll(ng-if="prediction.next" on-infinite="prediction.loadMore()", distance="5%")
