@charset "UTF-8";

.cover {
    .image {
        width: 100%;
        height: auto;
    }
}

.headline {
    background-color: #0255a2;
    width: 100%;
    height: 40px;
    margin-top: -5px;
    .title {
        padding-top: 9px;
        font-size: 22px;
        font-weight: bold;
        color: #ffffff;
    }
}

.nodata {
    .text {
        padding: 18px 0px 18px 0px;
        font-size: 14px;
        font-weight: bold;
    }
}

.box {
    color: #ffffff;
    background-color: #1e2b44;
    .normal {
        width: 100%;
        height: auto;
        padding: 0px 0px 5px 0px;
        background-color: #213647;
    }
        .-active {
            background-color: #0288cf;
        }

    .clear {
        padding-bottom: 0px;
    }

    .position {
        width: 28px;
        height: 20px;
        border-radius: 4px;
        color: #ffffff;
        margin: 5px;
    }
    .-keeper {
        background-color: #7e1420;
    }

    .-defender {
        background-color: #fbaf42;
    }

    .-midfield {
        background-color: #3ab44a;
    }

    .-forword {
        background-color: #0188cf;
    }

    .circle-start {
        width: 28px;
        height: 28px;
        margin-left: 15%;
        border: 1px solid #fff;
        border-radius: 14px;

        .circle {
            width: 22px;
            height: 22px;
            margin-top: 2px;
            margin-left: 2px;
            background-color: #d2d3d4;
            border-radius: 11px;
        }

        .photo {
            width: 22px;
            height: 22px;
            border-radius: 12px;
        }
    }

    .line {
        width: 100%;
        height: 5px;
        background-color: #1e2b44;
    }
}
