.live {
    .title {
        background-color: #0056a2;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
    }

    .video {
        width: 100%;
        height: 230px;
    }
}
