ion-view.lineup
    ion-nav-title Lineup
    ion-nav-buttons(side="right")
        a.button.button-clear(ng-click="footballField.toggleLock()")
            i.icon.ion-ios-checkmark-outline(ng-if="footballField.isLock")
            i.icon.ion-ios-circle-outline(ng-if="!footballField.isLock")
            span(ng-if="!footballField.isLock") can scroll
            span(ng-if="footballField.isLock") can't scroll

    ion-content.content
        div.row.format
            div.col.col-center {{format}}

        div.football-field
            div(ng-repeat="position in footballField.player.positions")
                div.player(data-id="{{position.id}}", ng-style="position.style", ng-class="position.className")

        div {{content}}
