ion-view.lineup
    ion-nav-title Lineup

    ion-content.content
        div.row.format
            div.col.col-center {{format}}

        div.football-field
            div.player
            div.player

        h1 Test lineup
