ion-view.lineup
    ion-nav-title Lineup

    ion-content.content
        div.row.format
            div.col.col-center {{format}}

        div.football-field
            div.lineX.-chart(ng-style="{'left': footballField.centerX + 'px'}")
            div.lineY.-chart(ng-style="{'top': footballField.centerY + 'px'}")

        h1 Test lineup
