.platform-ios {
    .match {
        .content {
            margin-top: -66px !important;
        }

        .fix-tab {
            top: 112px !important;
            height: auto !important;
        }
    }
}

.platform-android {
    .title.title-left.header-item {
        left: 0 !important;
    }

    .match {
        .view {
            top: 44px;
        }

        .content {
            margin-top: -44px !important;
        }

        .fix-tab {
            top: 90px !important;
            height: auto !important;
        }
    }
}

.match {
    .view {
        @import "view/main";
    }

    .highlight {
        background-color: #0056a2;
        @import "highlight/main";
    }

    .lineups {
        background-color: #1e2b45;
        @import "lineups/main";
    }
}
