ion-refresher(pulling-text="Pull to refresh...", on-refresh="score.refresh()")

ion-list.ranking-list
    ion-item.nodata(ng-if="score.items.length == 0")
        div.text
            | {{'ui.t.ranking.nodata' | trans}}
    ion-item(ng-repeat="item in score.items")
        //div.row(ui-sref="ranking-detail({id : item.id})")
        div.row
            div.col.col-20.col-center
                div.avatar
                    div.circle
                        div.subcircle
                            img.photo(ng-src="{{item.photo}}")
                    div.circle2
                        div.subcircle2
                            | {{$index + 1}}
            div.col.col-40.col-center.text-left
                div.name {{item.displayName}}
                div.hit
                    span เกมทาย
                    span.-highlight {{item.times | number}}
                    span ครั้ง
            div.col.col-40.col-center.text-right.point
                span Pts
                span.label {{item.points | number}}

ion-infinite-scroll(ng-if="score.next" on-infinite="scorer.loadNexte()", distance="1%")
