@charset "UTF-8";

@mixin cover {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: chartreuse;

    .photo {
        width: 40px;
        height: 40px;
        background-color: #f0f0f0;
    }
}

.space {
    height: 6px;
    background-color: #d1d3d4;
}

.datetime {
    background-color: #f1f2f2;
    font-size: 14px;
    font-weight: bold;
    color: #6d6e71;
}

.cover {
    @include cover();
}

.images {
    @include cover();
    background-color: #f0f0f0;
}

.message {
    margin-left: -4px;
    font-size: 14px;
    color: #231f20;
}

.footer {
    .share::before {
        color: #0056a2;
    }
}

.detail {
    background-color: #ffffff;

    .subdetail {
        margin-left: 4px;
        background-color: #ffffff;
    }
}

.-hightlight {
    .datetime {
        background-color: #0056a2;
        color: #caf906;
    }

    .cover {
        background-color: #1388cd;
    }

    .detail {
        background-color: #1388cd;
    }
}
