ion-refresher(pulling-text='Pull to refresh...', on-refresh='matchLabel.refresh()')
match-label(items="matchLabel.items")
ion-infinite-scroll(ng-if="matchLabel.hasMorePage" on-infinite="matchLabel.loadNext()", distance="1%")
