ion-view.ads(hide-nav-bar='true')
    ion-nav-title
    ion-content.content(scroll='false')
        div.row
            div.col
                object(data='../img/ads/banners/1.svg', type='image/svg+xml', width='100%', height='100%')

        div.button.button-clear.close-view(ng-click='close()')
            object.bg(data='../img/ads/close/bg.svg', type='image/svg+xml')
            object.circle(data='../img/ads/close/circle.svg', type='image/svg+xml')
