ion-view.ads(hide-nav-bar='true')
    ion-nav-title
    ion-content.content(scroll='false')
        div.row
            div.col
                img(src='../img/ads/banners/1.png', srcset='../img/ads/banners/1@2x.png 2x', width='100%', height='100%')

        div.button.button-clear.close-view(ng-click='close()')
            div.bg
            div.circle
