ion-view.feature
    ion-nav-title Feature
    ion-nav-buttons(side='left')
        a.button.button-icon.ion-chevron-left(ng-click='back()')
            object(data='../img/nav/logo.svg', type='image/svg+xml', width='64', height='16')

    ion-nav-buttons(side='right')
        a.button.button-clear(ng-click='')
            object(data='../img/nav/setting.svg', type='image/svg+xml', width='25', height='30')

    ion-content.content
        div.profile
            div.profile-view
                div.row
                    div.col.text-center
                        object(data='../img/feature/photo.svg', type='image/svg+xml', width='100', height='100')
                div.row
                    div.col.text-center
                        span.name {{fullname}}

        div.row
            div.col
                span 1
        div.row
            div.col
                span 1
            div.col
                span 2
            div.col
                span 3
        div.row
            div.col
                span 1
            div.col
                span 2
            div.col
                span 3
        div.row
            div.col
                span 1
            div.col
                span 2
            div.col
                span 3
