ion-view(view-title='Search')
    ion-content
        h1 Search
        floating-button(title="Open Me")
            floating-button-item(title="item 1" icon="star")
            floating-button-item(title="item 2" icon="funnel")
            floating-button-item(title="item 3" icon="clipboard")
            floating-button-item(title="item 4" icon="heart")
