@charset "UTF-8";

$ml-section-bg: #e0e1e2;
$ml-section-footer: #094e99;
$ml-label-club-name: #000000;
$ml-label-vs-bg: $ml-section-footer;
$ml-label-vs-textup: #ffffff;
$ml-label-vs-textdown: #ffffff;
$ml-label-footer: $ml-label-vs-bg;
$ml-progress-bars: #094e99;
$ml-progressed-right: #FAAF40;
$ml-progressed-left: #FF3B30;

.games-prediction {
    .match-label {
        .section {
            height: 50px;
            background-color: $ml-section-bg;

            .logo {
                .image {
                    padding-top: 4px;
                    width: 30px;
                    height: 30px;
                }
            }

            .league {
                padding-left: 6px;
            }

            .detail {
            }
        }

        .label {
            overflow: hidden;
            border-width: 0;
            padding: 0 5px;
            height: 65px;

            .club {
                width: 40%;
                float: left;

                .logo {
                    width: 30px;
                    //margin-top: 3px;
                    //margin-left: 5px;
                }

                .name {
                    margin-left: 1px;
                    font-size: 13px;
                    color: $ml-label-club-name;
                }

                .-left {
                    margin-right: 5px;
                }

                .-right {
                    float: right !important;
                    margin-right: 5px;
                }
            }

            .vs {
                width: 20%;
                text-align: center;
                float: left;
                margin: 0 auto;
                height: 100%;

                background-color: $ml-label-vs-bg;

                &.-live {
                    padding-top: 14px;

                    .live {
                        font-size: 34px;
                        font-weight: bold;
                        color: $ml-label-vs-textup;
                    }

                    .time {
                        padding-top: 5px;
                        color: $ml-label-vs-textdown;
                    }
                }

                &.-nextmatch {
                    padding-top: 13px;

                    .time {
                        color: $ml-label-vs-textup;
                    }

                    .date {
                        color: $ml-label-vs-textdown;
                    }
                }
            }
        }

        .space {
            background-color: $ml-label-footer;
            height: 2px;
            width: 100%;
        }

        .progress-bars {
            height: 30px;
            overflow: hidden;
            background: $ml-progress-bars;
            padding-top: 0;

            .bars {
                margin: 0 auto;
                width: 50%;

                .progressed {
                    height: 6px;
                    float: left;
                    position: relative;

                    .-right {
                        z-index: 1;
                        position: absolute;
                        width: 0;
                        height: 0;
                        left: -6px;
                        border-top: 6px solid $ml-progressed-right;
                        border-left: 6px solid transparent;
                    }

                    .-left {
                        z-index: 1;
                        position: absolute;
                        width: 0;
                        height: 0;
                        right: -6px;
                        border-top: 6px solid $ml-progressed-left;
                        border-right: 6px solid transparent;
                    }
                }
            }

            .text {
                color: #ffffff;
            }
        }

        .footer-section {
            margin-top: -2px !important;
            background-color: $ml-section-footer;
            height: 8px;
            width: 100%;
        }
    }

    .handicap-bar {
        padding: 15px;
        background: #383a3b;
        color: orange;
        text-align: center;
        font-size: 16px;
        .title {
            color: #ffffff;
            margin-left: 10px;
        }
    }
}
