ion-view.competitionandtable-main(view-title='competitionandtable')
    ion-nav-buttons(side='left')
        a.button.button-icon.ion-chevron-left(ng-click='back()')
            div.navbar.icon-logo
    ion-content.content
        | {{fullname}}