ion-view.competitionandtable-main
    ion-nav-title
        a.button.button-clear(ng-click='back()')
            div.navbar.icon-menu
    ion-nav-buttons(side='right')
        a.button.button-clear(ng-click='')
            div.navbar.icon-setting

    ion-content
        div.body-list
            p kakkkkkkssdsd
