$player-width: 70px;
$player-height: 70px;

.lineup {
    .format {
        height: 50px;
        padding: 6px 0;
        background-color: #1e2b44;
        color: #ffffff;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
    }

    .football-field {
        width: 100%;
        height: 433px;
        background-image: url("../img/lineup/football_field.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #213547;
    }

    .player {
        position: absolute;
        width: $player-width;
        height: $player-height;
        border: 1px solid yellow;
        -webkit-animation: fadein 4s;
        -moz-animation: fadein 4s;
        -ms-animation: fadein 4s;
        -o-animation: fadein 4s;
        animation: fadein 4s;

        .centerPoint {
            position: absolute;
            bottom: -18px;
            right: 0;
            font-size: 10px;
            color: red;
        }
    }
}

@media screen and (-webkit-device-pixel-ratio: 2) {
    .lineup {
        .football-field {
            background-image: url("../img/lineup/football_field@2x.png");
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
