ion-refresher(pulling-text='Pull to refresh...', on-refresh='matchLabel.doRefresh()')

match-label(sections="matchLabel.sections")

ion-infinite-scroll(ng-if="matchLabel.next" on-infinite="matchLabel.loadMore()", distance="5%")
