ion-refresher(pulling-text='Pull to refresh...', on-refresh='matchLabel.doRefresh()')
div.match-label
    div.nodata(ng-if="matchLabel.sections.length == 0")
        div.space
        div.row
            div.col.col-center.text-center
                div.text Has no match.
    div(ng-repeat="section in matchLabel.sections")
        div.row.row-center.section
            div.col.col-center.text-center
                | {{section.datetime | date : 'MMM yyyy'}}
        div.nodata(ng-if="section.items.length == 0")
            div.space
            div.row
                div.col.col-center.text-center
                    div.text Has no match.
        div(ng-repeat="item in section.items")
            div.row.label
                div.col.col-15.col-center.logo.text-center
                    img.image(ng-src="{{item.homeClub.logo}}")
                div.col.col-25.col-center.name.text-center
                    | {{item.homeClub.name}}
                div.col.col-20.col-center.detail.text-center
                    div(ng-show="item.template == 'before'")
                        div.time
                            | {{item.datetime | date:'HH:mm'}}
                        div.date
                            | {{item.datetime | date:'dd MMM yyyy'}}
                    div(ng-show="item.template == 'after'")
                        div.score
                            | {{item.homeClub.score}}-{{item.awayClub.score}}
                        div.date
                            | {{item.datetime | date:'dd MMM yyyy'}}
                div.col.col-25.col-center.name.text-center
                    | {{item.awayClub.name}}
                div.col.col-15.col-center.logo.text-center
                    img.image(ng-src="{{item.awayClub.logo}}")
ion-infinite-scroll(ng-if="matchLabel.next" on-infinite="matchLabel.loadMore()", distance="5%")
