ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="doRefresh()")

div.banner

div.member-ticket
    div.nodata(ng-if="memberTicket.items.length == 0")
        div.row
            div.col.col-center.text-center
                div.text Has no ticket.
    div(ng-repeat="item in memberTicket.items")
        div.row.section
            div.col
                i.icon.ion-card
                span.name You Member ID
                span.no
                    | No.{{$index+1}}
        div.ticket
            div.row.member
                div.col.title Member ID
            div.row.member
                div.col.col-50.detail
                    div.ticket-no No.{{$index+1}} xxx xxx xxx
                    div.level
                        div(ng-class="item.class").text-center.text {{item.level}}
                div.col.col-50
                    i.icon.ion-ios-trash-outline.delete
            div.row.position-zone
                div.col
                    div.row
                        div.title Position & Zone
                    div.row.position
                        div.col.col-20
                            div.text Seat
                            div.text Block
                            div.text Gate
                        div.col.col-80
                            div.text {{item.seat.row}} - {{item.seat.column}}
                            div.text {{item.block}}
                            div.text {{item.gate}}

div.member-zone
    div.row
        div.col
            span.title Member Zone
    div.row.zone
    div.row
        div.col.capacity The stadium holds 8,680 people
    div.row
        div.col.contact
            | {{memberZone.contact}}

div.footer
