ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="player.doRefresh()")
ion-list.ranking-list
    ion-item.nodata(ng-if="player.items.length == 0")
        div.text Has no ranking.
    ion-item(ng-repeat="item in player.items")
        div.row(ui-sref="ranking-player-detail({id : item.id})")
            div.col.col-20.col-center
                div.avatar
                    div.circle
                        div.subcircle
                            img.photo(ng-src="{{item.photo}}")
                    div.circle2
                        div.subcircle2
                            | {{$index + 1}}
            div.col.col-40.col-center.text-left
                div.name {{item.name}}
                div.hit
                    span เกมทาย
                    span.-highlight {{item.hit | number}}
                    span ครั้ง
            div.col.col-40.col-center.text-right.point
                span Pts
                span.label {{item.point | number}}
ion-infinite-scroll(ng-if="player.next" on-infinite="player.loadMore()", distance="5%")

//ranking-list(data="player")
