ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="products.refresh()")

div.items
    div.subitems(ng-if="products.loaded")
        div.nodata(ng-if="products.items.length == 0")
            div.row
                div.col.col-center.text-center
                    span Has no products.

        div(ng-repeat="item in products.items")
            div.space
            div.detail(image-cache="{{item.image}}" ui-sref="product-detail({id : item.id})")
                div.subdetail
                    div.row.name
                        div.col
                            | {{item.name}}
                    div.row.price
                        div.col
                            | ราคา ฿ {{item.price | number}}
            div.shadow

ion-infinite-scroll(ng-if="products.next" on-infinite="products.loadNext()", distance="1%")
