div.cover
    img.image(ng-src="{{image}}")

div.address
    div.row.section
        div.col.text-center
            | {{title}}
    div.row.detail
        div.col
            div.title {{title}}
            div {{company}}
            div {{stadium}}
            div {{address}}
            div โทรศัพท์.{{tel}}
            div E-Mail : {{email}}

div.product
    div(ng-repeat="product in products")
        div.space
        div.detail(style="background-image: url('{{product.image}}');" ui-sref="fanzone-product({id : product.id})")
            div.subdetail
                div.row.name
                    div.col
                        | {{product.name}}
                div.row.price
                    div.col
                        | ราคา ฿ {{product.price}}
