ion-view
    ion-nav-buttons(side='left')
        a.button.button-icon.ion-ios-arrow-left(ng-click='back()')

    ion-content.content
        br
        br
        br
        br
        br
        br
        br
        h1 product show
