ion-view.fanzone
    ion-nav-buttons(side="left")
        a.button.button-icon.ion-ios-arrow-left(ng-click="back()")

    ion-content.content.products-show
        div.line
        div.header {{header}}
        div.line

        img.image(ng-src="{{product.image}}")

        div.name {{product.name}}

        div.wrap
            div.detail {{product.detail}}
            div.description
                pre {{product.description}}
            div.size
                pre {{product.size}}

        div.price ราคา ฿ {{product.price}}

        div.wrap
            div.contact {{product.contact}}

    ion-footer-bar.bar-positive.footer
