ion-view.timelineandupdate-main
    ion-nav-title
        a.button.button-clear(ng-click='back()')
            i.icon.ion-ios-keypad-outline
    ion-nav-buttons(side='right')
        a.button.button-clear(ng-click='')
            i.icon.ion-android-more-vertical

    ion-tabs.tabs-striped.tabs-top.tabs-icon-left.tabs-background-positive.tabs-color-light
        ion-tab(title='Timeline', icon-on='ion-ios-chatbubble' icon-off='ion-ios-chatbubble-outline')
            ion-content.timeline-view
                h1 Timeline

        ion-tab(title='Update', icon-on='ion-ios-star' icon-off='ion-ios-star-outline')
            ion-content.update-view
                h1 Update