div.live-view(ng-show='{{isLive}}')
    div.row.section
        div.col
            | Live

    div.row
        div.col
            | match-label

div.timeline-view
    div.row.header
        div.col

    div.row.datetime
        div.col
            | 195sadsd
