.platform-ios {
    .games-detail {
        .content {
            margin-top: -66px !important;
        }

        .fix-tab {
            top: 112px !important;
            height: auto !important;
        }
    }
}

.platform-android {
    .title.title-left.header-item {
        left: 0 !important;
    }

    .games-detail {
        .content {
            margin-top: -44px !important;
        }

        .fix-tab {
            top: 90px !important;
            height: auto !important;
        }
    }
}

.games-detail {
    .prediction {
        @import "prediction/main";
    }

    .coacher11 {
        @import "coacher11/main";
    }

    .ranking {
        @import "ranking/main";
    }

    .live {
        @import "live/main";
    }
}
