@charset "UTF-8";

.ux-floating-button {
    //position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 26px;
    transition: background 0.4s ease-in-out;

    height: 300px;

    &.open {
        .toggle {
            border-color: #68adf2;
            .icon {
                transform: rotateZ(90deg);
            }
        }

        .menu {
            display: block;
        }
    }

    .menu {
        //display: none;

        &.in {
            .item {
                animation: ux-pop-in 0.2s ease-in-out forwards;

                floating-button-item:nth-child(2) {
                    animation-delay: 0.06s;
                }

                floating-button-item:nth-child(3) {
                    animation-delay: 0.9s6s;
                }

                floating-button-item:nth-child(4) {
                    animation-delay: 0.22s;
                }
            }
        }

        &.out {
            .item {
                animation: ux-pop-out 0.2s ease-in-out forwards;

                &:nth-child(1) {
                    animation-delay: 0.18s;
                }

                &:nth-child(2) {
                    animation-delay: 0.12s;
                }

                &:nth-child(3) {
                    animation-delay: 0.06s;
                }

                &:nth-child(4) {
                    animation-delay: 0s;
                }
            }
        }
    }

    .item {
        opacity: 1;
        pointer-events: auto;
        position: absolute;
        left: 0.3em;
        bottom: 60px;
        width: 2.5em;
        height: 2.5em;
        padding: .2em;
        border-radius: 10em;
        color: #fff;
        text-align: center;
        line-height: .9;
        background: #474747;
        border: 0.1em solid #fff;
        box-shadow: inset 0 -0.04em 0.04em rgba(0,0,0,0.3),0 0 0.05em rgba(0,0,0,0.8),0 0.05em 0.05em rgba(0,0,0,0.5);
        box-sizing: border-box;
        transition: background 0.2s ease-in-out;

        // todo: using js calculate.
        floating-button-item {
            &:nth-child(1) {
                bottom: 40px;
            }

            &:nth-child(2) {
                bottom: 70px;
            }

            &:nth-child(3) {
                bottom: 100px;
            }

            &:nth-child(4) {
                bottom: 130px;
            }

            &:nth-child(5) {
                bottom: 220px;
            }
        }

        .icon {
            transition: transform 0.2s ease-in-out;
        }

        &.toggle {
            bottom: 0.4em;
        }
    }
}

@keyframes ux-pop-in {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    20% {
        opacity: 1
    }

    80% {
        transform: scale(1.1);
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes ux-pop-out {
    0% {
        opacity: 1
    }

    20% {
        transform: scale(1.1);
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: scale(0.2);
    }
}
