ion-view.news-detail(view-title='{{news.item.headline}}')
    ion-nav-buttons(side='left')
        a.button.button-icon.ion-ios-arrow-left(ng-click='back()')


    ion-content.content
        ion-refresher(pulling-text="Pull to refresh...", on-refresh="news.doRefresh()")

        img.image(ng-src="{{news.item.image}}", width='100%', height='146')

        div.row
            div.col
                div.userbox
                    img.photo(ng-src="{{news.item.user.photo}}")
                    span.name {{news.item.user.name}}

        div.row.datetime
            div.col.col-33
                div.line
                    span.text {{news.item.datetime | date: 'dd MMM yyyy'}}

        div.row.url(ng-click="openURL(news.item.creditUrl)")
            div.col
                span {{news.item.creditUrl}}

        div.row
            div.col
                div.headline
                    div.subheadline
                        span {{news.item.headline}}

        div.row.description
            div.col
                span {{news.item.description}}
