ion-view.news-detail
    ion-nav-title News
    ion-nav-buttons(side="left")
        a.button.button-icon.ion-ios-arrow-left(ng-if="isIOS", ng-click="back()")
            img.logo(
            src="./img/logo/navbar.png"
            srcset="./img/logo/navbar@2x.png 2x"
            )

    ion-content.content
        ion-refresher(pulling-text="Pull to refresh...", on-refresh="paper.refresh()")

        img.image(ng-src="{{paper.item.image}}")

        div.row
            div.col
                div.userbox
                    img.photo(ng-src="{{paper.item.user.profilePicture}}")
                    span.name {{paper.item.user.displayname}}

        div.row.datetime
            div.col.col-33
                div.line
                    span.text {{paper.item.publishedDate | date: 'dd MMM yyyy'}}

        div.row.url(ng-click="openURL(paper.item.creditUrl)")
            div.col
                span {{paper.item.creditUrl}}

        div.row
            div.col
                div.headline
                    div.subheadline
                        span {{paper.item.headline}}

        div.row.description
            div.col
                span {{paper.item.description}}
