ion-refresher(pulling-text="{{'common.pull-to-refresh' | trans}}", on-refresh="papers.refresh()")

div.news
    div.subnews(ng-if="papers.loaded")
        div.nodata(ng-if="papers.items.length == 0")
            div.row
                div.col.col-center.text-center
                    span {{'timeline_update.update.notfound' | trans}}

        div(ng-repeat="item in papers.items")
            div.space
            div.detail(image-cache="{{item.cover}}", ui-sref="news-detail({id : item.id})")
                div.subdetail
                    div.headline.padding {{item.headline}}
                    span.date.padding(time-ago, datetime="{{item.publishedDate}}") {{item.publishedDate}}
            div.shadow

ion-infinite-scroll(ng-if="papers.next" on-infinite="papers.loadNext()", distance="1%")

loading-overlay(id="timeline-update-update")
