ion-refresher(pulling-text="Pull to refresh...", on-refresh="data.doRefresh()")

div.games-coacher11
    div.match-label
        div(ng-repeat="section in matchLabel.sections")
            div(ng-repeat="item in section.items")
                div.row.killpadding
                    div.col.col-center.text-right.logo
                        img.image(ng-src="{{item.homeClub.logo}}")
                    div.col.col-33.col-center.text-center.name
                        | {{item.homeClub.name}}
                    div.col.col-10.col-center.text-center.vs
                        | vs
                    div.col.col-33.col-center.text-center.name
                        | {{item.awayClub.name}}
                    div.col.col-center.text-left.logo
                        img.image(ng-src="{{item.awayClub.logo}}")

    div.headline
        div.row.killpadding
            div.col.col-20.col-center
                img.image(src="./img/logo/club.png", srcset="./img/logo/club@2x.png 2x")
            div.col.col-center
                | {{'ui.t.coacher11.name'|trans}}
                br
                | {{'ui.t.coacher11.stadium'|trans}}
            div.col.col-center.text-right.time
                span.yellow {{'ui.t.coacher11.timeremain'|trans}}
                span  {{timeRemain }} {{'ui.t.coacher11.minute'|trans}}

    img.image(src="../img/lineup/football_field.jpg")

    div.teamplayer
        div.row
            div.col
                | Chonburi Players
            div.col.col-33.col-center.text-right
                img.image(
                    src="./img/games-coacher11/field.png",
                    srcset="./img/games-coacher11/field@2x.png 2x"
                )

    div.personal
        div(ng-switch="", on="personals[$index]", ng-repeat="item in personals.items | orderBy:'position.shortName'")
            div(ng-switch-default)
                div.detail
                    div.row
                        //(ui-sref="personal-detail({id : item.id})")
                        div.col.col-center.text-center
                            div.position(ng-class="personals.getPositionClass(item.position.shortName)")
                                span.job {{item.position.shortName}}
                        div.col.col-center
                            div.circle
                                div.subcircle
                                    img.image(ng-src="{{item.image}}")
                        div.col.col-25.col-center.text-left
                            span.fullname {{ans}} {{item.firstname}}
                        div.col.col-center.text-right.yellow.score
                            img(src="./img/icon/yellow_card.png", srcset="./img/icon/yellow_card@2x.png 2x")
                            | 99
                        div.col.col-center.text-center.red.score
                            img(src="./img/icon/red_card.png", srcset="./img/icon/red_card@2x.png 2x")
                            | 99
                        div.col.col-center.text-left.goal.score
                            img(src="./img/icon/goal.png", srcset="./img/icon/goal@2x.png 2x")
                            |  99
                        div.col.col-center.text-center
                            div.icon.ion-eye(ng-click="switch($index)")

            div(ng-switch-when="true")
                div.detail
                    div.row.focus
                        //(ui-sref="personal-detail({id : item.id})")
                        div.col.col-center.text-center
                            div.position(ng-class="personals.getPositionClass(item.position.shortName)")
                                span.job {{item.position.shortName}}
                        div.col.col-center
                            div.circle
                                div.subcircle
                                    img.image(ng-src="{{item.image}}")
                        div.col.col-50.col-center.text-left
                            span.fullname {{item.fullname}}
                        div.col.col-center.text-right
                            span.no \#{{item.no}}
                        div.col.col-center.text-center
                            div.icon.ion-eye(ng-click="switch($index)")

    div.choose
        div.row.header
            div.col.col-center
                | {{'ui.t.coacher11.chooseplayer11'|trans}}
        div.row.name
            div.col
                | NamE
                br
                | NamE
                br
                | Name name namE
                br
                | Name name namE
                br
                | NamE
                br
                | NamE
                br
                | NamE
                br
                | NamE
                br
                | NamE
                br
                | NamE
                br
                | NamE


    div.row.end
        div.submit.text-center {{'ui.t.coacher11.submit'|trans}}

    div.footer
