ion-refresher(pulling-text="Pull to refresh...", on-refresh="matchLabel.refresh()")

div.cover

div(ng-if="matchLabel.loaded")
    div.nodata(ng-if="matchLabel.items.length == 0")
        div.row
            div.col.col-center.text-center
                span Has no tickets.

    div(ng-if="matchLabel.items.length > 0")
        div.row.section
            div.col
                span.text Next Match

        div.match-label
            div(ng-repeat="item in matchLabel.items")
                div.row.row-center.section(ng-if="item.type == 'section'")
                    div.col.col-center.text-center
                        | {{section.datetime | date : 'MMM yyyy'}}

                div.row.label(ng-if="item.type == 'label'", ui-sref="match.detail({id : item.id})")
                    div.col.col-15.col-center.logo.text-center
                        img.image(ng-src="{{item.homeClub.logo}}")
                    div.col.col-25.col-center.name.text-center
                        | {{item.homeClub.name}}
                    div.col.col-20.col-center.detail.text-center
                        div(ng-if="item.template == 'before'")
                            div.time
                                | {{item.startTime | date:'HH:mm'}}
                            div.date
                                | {{item.startTime | date:'dd MMM yyyy'}}
                        div(ng-if="item.template == 'after'")
                            div.score
                                | {{item.homeClub.score}}-{{item.awayClub.score}}
                            div.date
                                | {{item.startTime | date:'dd MMM yyyy'}}
                    div.col.col-25.col-center.name.text-center
                        | {{item.awayClub.name}}
                    div.col.col-15.col-center.logo.text-center
                        img.image(ng-src="{{item.awayClub.logo}}")

div(ng-repeat="item in clubTickets.items")
    div.row.section
        div.col
            i.icon.ion-ios-pricetag
            span.text ตั๋วเข้าชมทั่วไป

    img.image(ng-if="item.stadiumImage", image-cache="{{item.stadiumImage}}")

    //div.ticketzone(ng-repeat="ticketZone in item.ticketZones")
    //    div.row(ng-class="clubTickets.getTicketZoneClass(ticketZone.code)")
    //        div.col.col-left.text-center
    //            | {{ticketZone.label}}
    //        div.col.col-right.text-center
    //            | {{ticketZone.capacity | number}} ที่นั่ง

    div(ng-if="ticketMatches.loaded")
        div.row.section
            div.col
                i.icon.ion-ios-pricetag
                span.text ตั๋วที่ว่าง

        div.seat(ng-repeat="item2 in ticketMatches.items")
            div.row(ng-class="ticketMatches.getTicketMatchesClass(item2.code)")
                div.col.col-67.col-center
                    div.text1 บล็อก {{item2.label}}
                    div.text2  ที่นั่งว่าง
                div.col.col-33.col-center.text-right
                    span.balance {{item2.balance | number}}

    div(ng-if="item.seasonTicket")
        div.row.section
            div.col
                i.icon.ion-ios-pricetags
                span.text Season Ticket

        div
        div.row
            div.col(
            ng-repeat="item2 in item.seasonTicket",
            ng-style="{'background-color' : item2.background_color, 'color' : item2.color}"
            ).seasonticket
                div.text1 {{item2.label_en}}
                div {{item2.label_th}}
        div.row.row-center.space
        div.row
            div.col(
            ng-repeat="item2 in item.seasonTicket",
            ng-style="{'background-color' : item2.background_color, 'color' : item2.color}"
            )
                div {{item2.price}}

    div.row(ng-if="item.note")
        div.col
            | {{item.note}}

div.footer(ng-if="matchLabel.loaded && matchLabel.items.length > 0")
